/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Body */
body {
  background-color: #E6F0FF;
  color: #333;
  min-height: 100vh;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  background-color: #141414;
  padding: 1rem;
  text-align: center;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
.main {
  background-color: #F5F5F5;
  display: grid;
  grid-template-columns: 1fr;   /* nur EINE Spalte auf Mobil */
   grid-template-rows: auto auto auto; 
  align-content:start;
  padding-top: 3rem;  
  color: #141414;
  gap: 5rem;
  justify-items: center; /* horizontal zentrieren */
   min-height: calc(100vh - 120px); 

  
}

.side-menu {
 display: none;
 } 
   .nav{
     display: flow-root;
     width: auto;
     height: 100%;
     position: fixed;
     inset: 0; /* shorthand for top, right, bottom, left: 0 */
     overflow: hidden;
      max-height: 0;
     transition: max-height .4s ease-out;
      z-index: 4;
  
    }
    .nav li a{
      text-decoration:none;
      color: #E6F0FF;
      
    
    }
    .nav{
      overflow:inherit;
    }
     .menu {
            position: relative;
            display: grid;
            gap: 3rem; /* Use rem for better scalability */
            margin-top: 4rem;
            left: 0; /* Align to center with flex parent */
            text-align: center;
            font-weight: bold;
            font-size: 150%;
          
          }
    
  /* Menu Icon */
      .hamb{ 
        position: relative;
        cursor: default;
        padding: 40px 20px; 
        grid-column: 1; 
          z-index: 5; /* Set z-index to keep the icon at the top position */
        
        
      }
      /* Style label tag */

      .hamb-line {
        background: white;
        display: block;
        height: 2px;
        position: relative;
        width: 24px; 
      

      }
      /* Style span tag */

      .hamb-line::before,
      .hamb-line::after{
          background: white;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          /*transition: all .2s ease-out;*/
          width: 100%;
      }
      .hamb-line::before{
          top: 5px;
      }
      .hamb-line::after{
          top: -5px;
      }

      /* Toggle menu icon */
      .side-menu:checked ~ nav{
        max-height: 100vh;
      }
      .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
      }
      .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
      }
      .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
      }

      body:has(.side-menu:checked) {
      overflow: hidden;
      }
      /* Hide logoMobil when side-menu is checked */
        .side-menu:checked ~ .logoDiv {
          display: none;
        }



.lang-picker{
  position:relative;
  grid-column: 4/4;
  width: 140px;
}


.lang-btn{
  width: 140px;
  display:inline-flex;
  gap:8px;align-items:center;
  padding:8px 10px;border-radius:10px;
  background:rgba(255,255,255,0.02);
  border:1px solid #E6F0FF;
  cursor:pointer;
}
.lang-btn span{
  color: #E6F0FF;
}


.lang-btn:focus{outline:3px solid rgba(59,130,246,0.2)}
.flag{width:20px;height:14px;display:inline-block}
.chev{width:14px;height:14px;opacity:0.8;color: #E6F0FF;}

.langDropdown{position:absolute;
  right:0;margin-top:15px;
  min-width:120px;
  background-color:#141414;
  border-radius:12px;
  padding:8px;
  border:1px 
  solid rgba(255,255,255,0.03);
  box-shadow:0 8px 30px rgba(2,6,23,0.6);
  display:none}



.langDropdown.show{display:block}
.option,
.optionItem{display:flex;gap:10px;align-items:center;padding:8px;border-radius:8px;cursor:pointer}
.option:hover,
.optionItem{background:rgba(255,255,255,0.02)}
.option.active,
.optionItem.option.active{background:linear-gradient(90deg, rgba(59,130,246,0.12), rgba(99,102,241,0.08));border:1px solid rgba(59,130,246,0.12)}

.option .name,
.optionItem .namePa,
.optionItem .nameDoc{
  position: relative; 
  font-weight:600;
   z-index: 1;
  }

.option .meta{font-size:12px;color:var(--muted)}




.main .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  
}
.title-wrapper {
  display: grid;
  grid-template-columns: 1fr; /* mobile: alles untereinander */
  gap: 1rem;
}

.bring{
grid-row: 1;
font-size: 1rem;
text-align: center;
grid-column: 1;
padding: 1em;

}

.loc-row {
  grid-column: 1;  /* über beide Spalten deines Grids */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 40%;
  margin-top: 1em;
  margin-left: 3em;
}
.location{
grid-column: 1;
text-align: center;
margin-right: 0;
font-size: 16px;
font-weight: bold;

}

.svgLocation{
  width: 73px;  
  height: 75px;
  margin-bottom: 2em ;

}
.svgPackage{
   width: 75px;  
  height: 75px;
}

.page-title {
  grid-row: 1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #141414;
}
.pydeatch{
    grid-row: 3;
}
.Wohin,
.Was{

color:#141414;
grid-column: 1 / -1;
text-align: center;
grid-row: 3;
justify-self: center; 
font-size: 20px;


}


.svgDocument {
  position: relative; 
   grid-column: 1; 
   grid-row: 1; 
  fill: #141414;
  width: 65px;  
  height: 70px;
  
}


.svgAirplane{
  max-width: 800px;  
  justify-self: center; 
  
}
.svgPyToDe{
grid-row:2;
justify-self: center;

}

/* Checkbox komplett unsichtbar */
.toggle {
  display: none;
}

/* Standard: Formular ausblenden */
.formular {
    display: none;
    margin-top: 1rem;
    animation: fadein .3s ease;
}
/* Kleiner Fade-in Effekt */
@keyframes fadein {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}

.paket-toggle:checked ~ .Items .document {
  display: none; /* NUR wenn Paket aktiv ist! */
}

.paket-toggle:checked ~ .Items .paket {
  transform: scale(1.1);
  opacity: 1;
  margin-bottom: -2em;
}

.paket-toggle:checked ~ .paket-formular {
  display: block;
}
.paket-toggle:checked ~ .Items{
  margin-bottom: -2em;
}

.paket-toggle:checked ~ .document-formular {
  display: none;
}
.paket-formular{
margin-bottom: 3em;
}



/* ---------------------- */
/*   DOKUMENT-AKTIONEN    */
/* ---------------------- */

.document-toggle:checked ~ .Items .paket {
  display: none; /* NUR wenn Dokument aktiv ist! */
}

.document-toggle:checked ~ .Items .document {
  transform: scale(1.1);
  opacity: 1;
}

.document-toggle:checked ~ .document-formular {
  display: block;
}
.document-toggle:checked ~ .Items{
   margin-bottom: -2em;
}

.document-toggle:checked ~ .paket-formular {
  display: none;
}
.document-formular{ 
  margin-bottom: 3em;
}

.Items{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em ;
  grid-row: 4;
  width: 165px;
  margin-bottom: 3em;;
   
 
}


/* Footer */
.footer {
  background-color: #141414;
  text-align: center;
  padding: 1rem;
  color: #fff;
  
}

/* Tablet */
@media (min-width: 676px) {
  .main .buttons {
    flex-direction: row;
    gap: 2rem;
     
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header {
    text-align: left;
    padding: 2rem;
  }


  .main {
  background-color: #F5F5F5;
  display: grid;
  padding-top: 3rem;  
  color: #141414;
  gap: 5rem !important;
}


 

  .main .buttons {
    flex-direction: row;
    gap: 2rem;
  }

  .main button {
    width: 180px;
    padding: 1.2rem;
  }
  .hamb, .side-menu {   
    display: none;  
  } 
  .side-menu { 
  opacity: 0;
  width: 0;
  height: 0;
 } 
 .menu{
   display: block;
 }
  .title-wrapper {
 
  display: grid; /* inneres Grid für h1 + SVG */
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;   /* zentriert vertikal */
  gap: 0.5rem; 
            /* Abstand zwischen Text und SVG */
  
}
.bring{
display: grid;
grid-row: 1;
z-index: 3;
font-size: 1rem;
text-align: center;
max-width: 29em;
margin-left: 10px;
grid-column: 1 / -1;   /* über alle Hauptspalten gehen */
justify-self: center;


}
.page-title {
  grid-row: 1;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: #141414;
}


.Was{
  font-size: 25px;

}

.Items{
  width: 200px;

}

.location{ 
grid-column: 1;
grid-row: 3;
margin: 0;
}

.svgLocation{
  width: 65px;  

}

.svgAirplane {
  position: relative;
grid-column: 2;
  grid-row: 2;
margin-right: 28em;
  width: 450px;
  height: auto;
  z-index: 8;
 

  /* unabhängig verschiebbar */
  transform: translate(50px, 10px);
}

    .svgPyToDe{ 
   width: 700px;
    }
}
