/* import Google Fonts Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*  *{
    outline: 1px solid red;
  }*/

html, body {
  overflow: auto;
  min-height: 100%;
}
*{margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', 'san-serifs'}

/*.hidden {
  display: none !important;
}*/

.container .main.hidden { display: none; }
.container{
  max-width: 100%;
  
  min-height: 100vh;
  background-image: url('./images/Lango_laenge_Home.png');
  background-size: cover;       /* Bild auf gesamte Fläche anpassen */
  background-repeat: no-repeat; /* Kein Wiederholen des Bildes */
  background-position: center;  /* Bild zentrieren */
  display: grid;  
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);         /* Höhe des Viewports */
  color: white;                 /* Text besser lesbar bei dunklem Bild */
 
  grid-template-areas: 
  "header header header header header header header header header"
  "main main main main main main main main main"
  "main main main main main main main main main"
  "main main main main main main main main main"
  "main main main main main main main main main"
  "footer footer footer footer footer footer footer footer footer"
  "footer footer footer footer footer footer footer footer footer"
  "footer footer footer footer footer footer footer footer footer"
  
  
}

.container .header {
 
  display: grid;
  grid-area: header;
	font-size: 1.45rem;
  /*position: sticky;*/
  top: 0%;
  width: 100%;
  min-height: 100px; /* oder was zu deinem Layout passt */
  overflow: hidden;
  padding: 2rem;
  align-items: center;

}
.container .main{
grid-area: main;
display: grid;
grid-template-columns: repeat(3, 1fr);
 grid-auto-rows: minmax(100px, auto);

}
.container .footer {

 bottom: 0px;
  left: 0px;
  grid-area: footer;
 
  
}

.container .header .nav .menu{
  list-style: none;
  display: grid;
}

.nav{
  position: relative;
  grid-row: 1/2;
  
}
.menu{

position: relative;
margin-left: auto;



}
.menu .home{
 grid-column: 1/2; 
 
}

.menu .events{
grid-column: 2/3;
}
.menu .langos{
grid-column: 3/4;
}
.menu .logo{
  position: relative;
  z-index: 3;
  top: -50%;
 }
 .logoImg{
    position: relative;
   max-width: 150px;
   height: auto;
    left: 13% ;
    z-index: 3;
 }

.menu .uns {
  grid-column: 5/6;
}
.menu .news{
  grid-column: 6/7;
}
.menu .kontakt{
  grid-column: 7/8;
}
.logoMobil{
  display: none;
}

 /* Nav menu */
.side-menu {
  display: none;
 } 

nav li a{
  text-decoration:none;
  color: #ffeb3b;
 
}
nav li a:hover{
  color: aliceblue;
  transition: 0.7s;
}

.region-select {
  position: relative;
  width: 300px;
  display: block;
  color: #ffeb3b;
  grid-column: 2/3;
  left: 25%;
  font-size: 170%;
}

.regionOptions {
  position: relative;
  left: 2%;
  right: 0;
  z-index: 10; 
  display: block;
  font-size: 80%;
  color: #F0FFFF;
  top: 20%;
 
}
a.minimal-link {
  
  text-decoration: none;
  border-bottom: 1px solid #ffeb3b; 
  padding-bottom: 2px;
  transition: all 0.2s ease;
}

header .current-date{ 
	font-size: 1.45rem;
	font-weight: 500;
}

header .icons span{ 
	height: 38px;
	width: 38px;
	color: black;
	font-size: 1.9rem;
	margin: 0 1px;
	cursor: pointer;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
    
}

header .icons span:hover{
  background: #f2f2f2
}

.calendar{
position: relative;
padding: 10px;
max-width: 600px;
background-color: rgba(12, 12, 12, 0.466); /* 0.5 = 50% transparent */
grid-column: 1/2;
grid-row: 1/2;
border-radius: 10px;
border-width: 1em;
border: 2px solid #ffeb3b;
color: #F0FFFF;
margin-left: 20%;
margin-top: 10%;
margin-bottom: 20%;



}

.calendar header{
  position: relative;
  padding: 25px 30px 10px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #ffeb3b;
    border-radius: 10px;
    margin: 0%;
    color: black;

}
.calendar header .icons{
grid-column: 3/4;

}
.calendar ul{
	display:flex;
	list-style: none;
	flex-wrap: wrap;
	text-align: center;
  margin: 3%;

}

.calendar .weeks li {
	font-weight: 500;

}
.calendar .days li{
	z-index: 1;
	
	margin-top: 25px;
  
}

.days li.circle{
  color: #F0FFFF;
  }
  .days li.circleInactive{
    color:  #5c5b5b;
    
    }
.days li.active{
color: #fff;
}

.days li.active::before{
	/*background: #e94417;*/
  border: 2px solid;
  border-radius: 50%;
  border-color: #e94417;
	
}
.calendar ul li{
	position: relative;
	width: calc(100% /7);
}
.calendar .days li::before{
	position: absolute;
	content: "";
	height: 40px;
	width: 40px;
	top: 50%;
	left: 50%;
	z-index:-1;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}
li.circle::before {
  border: 2px solid;
  border-radius: 50%;
}

.days li.circle::before{	
  
  border-color: #ffeb3b;
}

li.circleInactive::before {
  border: 2px solid;
  border-radius: 50%;
}

.days li.circleInactive::before{	
 
  border-color: #ffeb3b;
}

.inactive{
  color:  #5c5b5b;
	}
.container .main .events{
  grid-column: 2/3;
}
header .chooseItem{
	font-size: 40px;
	font-weight: 500;
	position: relative;
}
.span{
  grid-column: 2/3;
  min-width: 87%;
}
.slideEventcontainer{
  position: absolute;
  top:15%;
  left:18%;
}
.slideshow{
  display: none;
  position: absolute; 
  grid-column: 2/3;
  background-color: black;
 top: 20%;
  border: 2px solid #F0E801;
  border-radius: 10px;
 width: 25%;
 right: 19%;
 cursor: pointer;
 color: #fff;
 
 font-size: 20px;
 padding: 5%;
 }
 .slideshowHeadline{ 
  position: relative;
  color: #ffeb3b;
  font-size: 200%;
  left: 65%;
  
           
  }

 .slideEvents{
  position: absolute;
  right: 2%;
  display: inline-block;
  position: relative;
  width: 121%;
  color: #fff;
  padding: 5%;
  font-size: 130%;

  
 }
 .slideshowIcons{
  position: absolute;
  left: 15%;
  z-index: 1;
  top: 40%;
 }

 .slideshowIcons span{
  cursor: default;
  
 }

  #slideNext{
  position: relative;
  left: 270%;
 }
 #slidePrev{
  position: relative;
  right: 61%;
  
  
 }

 .dropdownText{
  position: relative;
  grid-column: 2/3;
  padding: 1em;
  text-align: center;
  font-size: 18px;
 

 }
 
.dropdown-menu{
 display: block;
margin-top: 20%;
 min-width: 160px;
 z-index: 1;
color: #F0FFFF;


 
}
.dropdown-menu span{
  color: #F0FFFF;
  border-bottom: 1px solid #ffeb3b;
  
}
.line-break {
  margin-bottom: 10%;
 }
 .error{
  position: relative;
  text-align: center;
 }
.slogan{
  position: relative;
  grid-column: 2/3;

 margin-left:20%;
  font-size: 150%;
  color: #ffeb3b; 
 }
 .slogenBeschreibung{
  position: relative;
  grid-column: 2/3;
  
  left: 0%;
  font-size: 120%;
 }

 .events {
  
  display: grid;
  
 }
 .eventDescription{
  position: relative;
  top: 5%;
 }
 .eventHeadingTop{
  position: relative;
  left: 22%;
  font-size: 20px;
 }
 .eventHeadingBottom{
  position: relative;
  left: 20%;
  font-size: 20px;
  
 }
 .eventInformation{
  position: relative;
  left: 10%;
 }
 .line{
  position: relative;
  border-bottom: solid;
  color: black;
  width: 60%;
  left: 15%;
 }



/*Ueber Uns*/

.slideshow-container {
  position: relative;
  max-width: 800px;
  border-radius: 10px;
  color: white;
  grid-column: 2/3;
}

.slide {
  display: none;
  
}

.slide img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  margin-bottom: 1em;
}

.slide.active {
  display: block;
}

.uns_prev,
.uns_next {
  cursor: pointer;
  position: absolute;
  
  width: auto;
 
  color: white;
  font-weight: bold;
  font-size: 2em;
  user-select: none;
  
  border-radius: 0.3em;
  transform: translateY(-50%);
}

.uns_prev {
  left: 10px;
  top: 70%;
 
}

.uns_next {
  right: 10px;
    top: 70%
}


/* Mobile: Alle sichtbar */
@media (max-width: 767px) {
  .Geschichte .slide {
    display: block !important;
  }
   .Geschichte .uns_prev {
    display: none !important;
  }
     .Geschichte .uns_next {
    display: none !important;
  }
}
.hUns{
  position: relative;
  color: #ffeb3b;
  text-align: center;
  font-size: 30px;
  grid-column: 2/3 ;
  margin-bottom: 2em;

}

  .Geschichte {
  padding: 1em;
  display: grid;
  margin-top: 0;
  }
  .unterstrichen{
  border-bottom: 1px solid #ffeb3b; 
  padding-bottom: 2em;
  display: inline-block;
  text-align: center;
  grid-column: 2/3 ;
}
 .Wagen1978Text{
    margin-top: 0;  
   text-align:inherit;
    font-size: 18px;
  }
  .Wagen1978Block,
  .Wagen1984Block,
  .HolzhütteBlock,
  .SpeyerBlock,
  .ShoppegässleBlock,
  .DMBlock,
  .EUBlock,
  .EttlingenWeihnachtsmarktBlock,
  .KarlsruheWeihnachtsmarktBlock,
  .HexenhausBlock,
  .HängerBlock {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto; /* Text oben, Bild unten */
      text-align: center; /* <-- vertikal mittig ausrichten */
     gap: 1em;
     margin-bottom: 2em;
  }


 .Wagen1978Span img,
  .Wagen1984Span img,
  .HolzhütteSpan img,
  .SpeyerSpan img,
  .ShoppegässleSpan img,
  .DMSpan img,
  .EUSpan img,
  .EttlingenWeihnachtsmarktSpan img,
  .KarlsruheWeihnachtsmarktSpan img,
  .HexenhausSpan img,
  .HängerSpan img {
   
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    display: block;  
  

  }

  .ersterWagen,
  .Wagen1984,
  .Holzhütte,
  .Speyer,
  .Shoppegässle,
  .DM,
  .EU,
  .EttlingenWeihnachtsmarkt,
  .KarlsruheWeihnachtsmarkt,
  .Hexenhaus,
  .Hänger {
  margin: 0em auto;
  max-width: 700px;
 font-size: 15px;
  text-align: center;
  }

  .Wagen1978Span,
  .Wagen1984Span,
  .HolzhütteSpan,
  .SpeyerSpan,
  .ShoppegässleSpan,
  .DMSpan,
  .EUSpan,
  .EttlingenWeihnachtsmarktSpan,
  .KarlsruheWeihnachtsmarktSpan,
  .HexenhausSpan,
  .HängerSpan {
   display: block;
  text-align: center;
  grid-column: 1 / -1;
  margin: 0 auto;
  
 

  
  }


@media (max-width: 768px) {


html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/* Responsive Bilddarstellung */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

  *, *::before, *::after {
  box-sizing: border-box;
}
        .container {
        /*width: 100vh;  Make sure content takes the full width */
         
        grid-template-columns: repeat(1, 1fr);
       
        
        grid-template-areas: 
        
        "header"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "footer  "
        
        }
       .container .header{
        position: relative;
        z-index: 2;
        height: 20%;
        overflow: visible;
       
      
       }
       .container .main{
        position: relative;
        display: grid;
       grid-template-columns: repeat(1, 1fr);
       }
       
    
     
        .container .header .nav .menu{
          list-style: none;
          max-height: 300px;
        
          
        }
        header .icons span{
          position: relative;
          left: 20%;
          cursor: default;
        }
      
        .nav{
          display: flow-root;
          width: auto;
          height: 100%;
          position: fixed;
           inset: 0; /* shorthand for top, right, bottom, left: 0 */
          overflow: hidden;
          max-height: 0;
          transition: max-height .4s ease-out;
          z-index: 2;
  
        }

        /* Navigation menu inside overlay */
          .menu {
            position: relative;
            display: grid;
            row-gap: 3rem; /* Use rem for better scalability */
            margin-top: 4rem;
            left: 0; /* Align to center with flex parent */
            text-align: center;
            margin-right: 20%;
          }

     
        .menu  .home{
          grid-column: 2/3;
          grid-row: 1/2;
          font-size: 150%;
          
        }
        .menu  .events{ 
        
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 150%;
        
        }
        .menu  .langos{
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 150%;
        
        }
      
        .menu  .uns {
          position: relative;
          grid-column: 2/3;
          grid-row: 4/5;
          font-size: 150%;
          
        }
         .menu .news{
          grid-column: 2/3;
          grid-row: 5/6;
          font-size: 150%;
        }
        .menu  .kontakt{
          grid-column: 2/3;
          grid-row: 6/7;
          font-size: 150%;
        }
        .menu  .logo{
          grid-column: 2/3;
         display: none;
        }
     

        /* Nav menu */
        .side-menu {
          display: none;
          
        } 

     
      /* Active class to slide nav into view */
.nav.active {
  transform: translateY(0);
}

      .region-select{
        position: relative;
        font-size: 150%;
        text-align: center;
        margin-left: -14%;
        margin-top: -55%;
      }
     
      .regionOptions {
        position: relative;
        display: block;
        color: #F0FFFF;
         margin-top: -25%;
        text-align: center;
       
      }
   
      /* Menu Icon */
      .hamb{ 
        position: relative;
        cursor: default;
        padding: 40px 20px; 
        top: -40%;
        margin-left: 80%;
        
      }
      /* Style label tag */

      .hamb-line {
        background: white;
        display: block;
        height: 2px;
        position: relative;
        width: 24px; 
        z-index: 3; /* Set z-index to keep the icon at the top position */

      }
      /* Style span tag */

      .hamb-line::before,
      .hamb-line::after{
          background: white;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          /*transition: all .2s ease-out;*/
          width: 100%;
      }
      .hamb-line::before{
          top: 5px;
      }
      .hamb-line::after{
          top: -5px;
      }

      /* Toggle menu icon */
      .side-menu:checked ~ nav{
        max-height: 100vh;
      }
      .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
      }
      .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
      }
      .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
      }

      body:has(.side-menu:checked) {
      overflow: hidden;
      }
      /* Hide logoMobil when side-menu is checked */
        .side-menu:checked ~ .logoDiv {
          display: none;
        }
 
  .circle{
    position: relative;
    transform: translate(px, 3px);
  }
        

      .calendar{
        position: relative;
        max-width: 90%;
        z-index: 1;
        grid-column: 1/2;
        grid-row: 4/5;
        margin-left: 6%;
        margin-top: 140px; 
              

      }
      .calendar header{
       
        padding: 10px 20px 10px;
      }

      .calendar header .icons span:hover{
        background: #F0E801;
        
      }
      .calendar .days li{
        cursor:default;
      }
      .calendar .days li::before {
        height: 30px;
        width: 30px;
      }
      .days li:hover::before{
        background-color: transparent; /* Remove hover effect */
        
      }
      .days li.active{
        color: #fff;
        }
    
      .span{
        grid-column: 1/2;
      }

      .logoDiv{
        display: block;
        position: absolute;
        z-index: 3;
        margin-left: 30%;
        
               
       }
       .logoMobil{
        display: block;
        position: absolute;
        max-width: 150px;       
       }

       .slogan{
        position: relative;
        grid-column: 2/3;
        font-size: 140%; 
        width: auto;
        height: auto; 
       text-align: center;
       margin-right: 20%;
        
        
       }
       .slogenBeschreibung{
        position: relative;
        grid-column: 2/3;
        font-size: 120%;
        text-align: center;
        line-height: 3;
        margin-top: -55%;
        
        
       }
       .strong{
        font-weight: 50%;
       }

       .dropdownText{
        position: relative;
        grid-column: 1/2;
        text-align: center;
        line-height: 2;
       }      
    
       .dropdown-menu{
       
        position: absolute;        
        grid-row: 2/3;
        grid-column: 1/2;
        margin-left: 28%;
        margin-top: 1em;
       }
       .dropdown-menu span{
        position: relative;
        font-size: 100%;
       
       }
       .dropdown-item{
        position: relative;
        text-decoration: none; 
        

       }
       .line-break{
        margin-bottom: 8%;
       }

     /******Ueber Uns**************/

.hUns{

  margin-bottom: 1em;
font-size: 25px;
}
.unterstrichen{
  border-bottom: 1px solid #ffeb3b; 
  padding-bottom: 2em;
  display: inline-block;
  
}
p,
 .Wagen1978Span img,
  .Wagen1984Span img,
  .HolzhütteSpan img,
  .SpeyerSpan img,
  .ShoppegässleSpan img,
  .DMSpan img,
  .EUSpan img,
  .EttlingenWeihnachtsmarktSpan img,
  .KarlsruheWeihnachtsmarktSpan img,
  .HexenhausSpan img,
  .HängerSpan img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;  
    margin-top: 1em;
   margin-bottom: 1em;

  }

   .Wagen1984Span img {
    width: 120%;
    margin-left: -2em;
     max-width: 650px
   }
   .HolzhütteSpan img{
    width: 120%;
    margin-left: -2em;
   }

  .Wagen1978Text,
  .ersterWagen,
  .Wagen1984,
  .Holzhütte,
  .Speyer,
  .Shoppegässle,
  .DM,
  .EU,
  .EttlingenWeihnachtsmarkt,
  .KarlsruheWeihnachtsmarkt,
  .Hexenhaus,
  .Hänger {
    margin: 0em auto;
    padding-top: 1em;
    padding-bottom: 1em;
    
    max-width: 700px; 
  }
  .Wagen1978Text{
    margin-top: 0;  
    padding: 1em;
  }
  .EU{
    text-align: center;
  }
  

  .Wagen1978Span,
  .Wagen1984Span,
  .HolzhütteSpan,
  .SpeyerSpan,
  .ShoppegässleSpan,
  .DMSpan,
  .EUSpan,
  .EttlingenWeihnachtsmarktSpan,
  .KarlsruheWeihnachtsmarktSpan,
  .HexenhausSpan,
  .HängerSpan {
    display: block;
    
    margin: 0 auto;
  
  }
.Wagen1978Span img {
  vertical-align: bottom; /* oder bottom, je nach Effekt */
}


  .Geschichte {
    padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  /*justify-items: center;*/
  margin-top: 0;

  }
   .Wagen1978Block,
  .Wagen1984Block,
  .HolzhütteBlock,
  .SpeyerBlock,
  .ShoppegässleBlock,
  .DMBlock,
  .EUBlock,
  .EttlingenWeihnachtsmarktBlock,
  .KarlsruheWeihnachtsmarktBlock,
  .HexenhausBlock,
  .HängerBlock {
    grid-column: span 2;
  }
    

 
      
       
  }


  @media (min-width: 768px) and (max-width: 1023px) {

    .container {
    background-color:blueviolet;
    
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    
    "header header header"
    "header header header"
    "header header header"
    
    "main main main"
    "main main main"
    "main main main"
    
    "footer footer footer"
     "footer footer footer"
      "footer footer footer"
    
    }
}





























































































































































































































































































































































































































