/* import Google Fonts Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', 'san-serifs'}
 
body{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	min-height : 70vh;
  
  
}

.container{
  background-image: url('./images/Lango_laenge_Home.png');
  background-size: cover;       /* Bild auf gesamte Fläche anpassen */
  background-repeat: no-repeat; /* Kein Wiederholen des Bildes */
  background-position: center;  /* Bild zentrieren */
  min-height: 100vh;            /* Höhe des Viewports */
  color: white;                 /* Text besser lesbar bei dunklem Bild */
  padding: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(9, 1fr);
 grid-auto-rows: minmax(100px, auto);

  
  grid-template-areas: 
  "header header header header header header header header header"
  "main main main main main main main main main"
  "main main main main main main main main main"
  "main main main main main main main main main"
  "main main main main main main main main main"
  "footer footer footer footer footer footer footer footer footer"
  "footer footer footer footer footer footer footer footer footer"
  "footer footer footer footer footer footer footer footer footer"
  
  
}

.container .header {
  display: grid;
  grid-area: header;
	font-size: 1.45rem;

  position: sticky;
  top: 0%;
  width: 100%;
  height: 50%;

}
.container .main{
grid-area: main;

display: grid;

}
.container .footer {
 position: relative;
 bottom: 0px;
  left: 0px;
  grid-area: footer;
 
  
}

.container .header .nav .menu{
  list-style: none;
  display: grid;
}

.nav{
  position: relative;
  grid-row: 1/2;
  
}
.menu{

position: relative;
left: 40px;
top: 50%;


}
.menu .home{
 grid-column: 1/2; 
 
}

.menu .events{
grid-column: 2/3;
}
.menu .langos{
grid-column: 3/4;
}
.menu .logo{
  position: relative;
  z-index: 3;
  top: -50%;
 }
 .logoImg{
    position: relative;
    width: 60%;
    left: 13% ;
    z-index: 3;
    
   
 }

.menu .uns {
  grid-column: 5/6;
}
.menu .news{
  grid-column: 6/7;
}
.menu .kontakt{
  grid-column: 7/8;
}
.logoMobil{
  display: none;
}

 /* Nav menu */
.side-menu {
  display: none;
 } 

nav li a{
  text-decoration:none;
  color: #ffeb3b;
 
}
nav li a:hover{
  color: aliceblue;
  transition: 0.7s;
}

.region-select {
  position: relative;
  width: 300px;
  display: block;
  color: #ffeb3b;
  grid-column: 2/3;
  top: 10%;
  font-size: 170%;
  
}

.regionOptions {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10; 
  display: block;
  font-size: 80%;
  color: #ffeb3b;
  top: 30%;
  top: 20%;
}
a.minimal-link {
  color: #ffeb3b;
  text-decoration: none;
  border-bottom: 1px solid red;
  padding-bottom: 2px;
  transition: all 0.2s ease;
}








header .current-date{ 
	font-size: 1.45rem;
	font-weight: 500;
}

header .icons span{ 
	height: 38px;
	width: 38px;
	color: black;
	font-size: 1.9rem;
	margin: 0 1px;
	cursor: pointer;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
    
}

header .icons span:hover{
  background: #f2f2f2
}

.calendar{
position: relative;
padding: 10px;
max-width: 600px;
background-color: rgba(12, 12, 12, 0.466); /* 0.5 = 50% transparent */
left: 7%;
grid-column: 1/2;
border-radius: 10px;
border-width: 1em;
border: 2px solid #ffeb3b;
color: #F0FFFF;



}

.calendar header{
  position: relative;
  padding: 25px 30px 10px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #ffeb3b;
    border-radius: 10px;
    margin: 0%;
    color: black;

}
.calendar header .icons{
grid-column: 3/4;

}
.calendar ul{
	display:flex;
	list-style: none;
	flex-wrap: wrap;
	text-align: center;
  margin: 3%;

}

.calendar .weeks li {
	font-weight: 500;

}
.calendar .days li{
	z-index: 1;
	
	margin-top: 25px;
  
}

.days li.circle{
  color: #F0FFFF;
  }
  .days li.circleInactive{
    color:  #5c5b5b;
    
    }
.days li.active{
color: #fff;
}

.days li.active::before{
	/*background: #e94417;*/
  border: 2px solid;
  border-radius: 50%;
  border-color: #e94417;
	
}
.calendar ul li{
	position: relative;
	width: calc(100% /7);
}
.calendar .days li::before{
	position: absolute;
	content: "";
	height: 40px;
	width: 40px;
	top: 50%;
	left: 50%;
	z-index:-1;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}
li.circle::before {
  border: 2px solid;
  border-radius: 50%;
}

.days li.circle::before{	
  
  border-color: #F0E801;
}

li.circleInactive::before {
  border: 2px solid;
  border-radius: 50%;
}

.days li.circleInactive::before{	
 
  border-color: #ffeb3b;
}

.inactive{
  color:  #5c5b5b;
	}
.container .main .events{
  grid-column: 2/3;
}
header .chooseItem{
	font-size: 40px;
	font-weight: 500;
	position: relative;
}
.span{
  grid-column: 2/3;
  min-width: 87%;
}
.slideEventcontainer{
  position: absolute;
  top:15%;
  left:18%;
}
.slideshow{
  display: none;
  position: absolute; 
  grid-column: 2/3;
  background-color: black;
 top: 20%;
  border: 2px solid #F0E801;
  border-radius: 10px;
 width: 25%;
 right: 19%;
 cursor: pointer;
 color: #fff;
 
 font-size: 20px;
 padding: 5%;
 }
 .slideshowHeadline{ 
  position: relative;
  color: #ffeb3b;
  font-size: 200%;
  left: 65%;
  
           
  }

 .slideEvents{
  position: absolute;
  right: 2%;
  display: inline-block;
  position: relative;
  width: 121%;
  color: #fff;
  padding: 5%;
  font-size: 130%;

  
 }
 .slideshowIcons{
  position: absolute;
  left: 15%;
  z-index: 1;
  top: 40%;
 }

 .slideshowIcons span{
  cursor: default;
  
 }

  #slideNext{
  position: relative;
  left: 270%;
 }
 #slidePrev{
  position: relative;
  right: 61%;
  
  
 }
 .dropdown{
  
  position: relative;
  grid-column: 2/3;
  cursor: pointer;
  
  top: 50%;
  border-radius: 10px;
  width: 25%;
  color: #F0FFFF;
  padding: 5%;
  
 }
 
.dropdown-menu{
 display: none;
 position: absolute;
 min-width: 160px;
 box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
 z-index: 1;
 border: 2px solid #F0E801;
 border-radius: 10px;
  width: 25%;
  right: 19%;
  color: #F0FFFF;
  padding: 5%;
}
.dropdown-toggle{

 position: relative;
 right: 75%;

}

 .events {
  
  display: grid;
  
 }
 .eventDescription{
  position: relative;
  top: 5%;
 }
 .eventHeadingTop{
  position: relative;
  left: 22%;
  font-size: 20px;
 }
 .eventHeadingBottom{
  position: relative;
  left: 20%;
  font-size: 20px;
  
 }
 .eventInformation{
  position: relative;
  left: 10%;
 }
 .line{
  position: relative;
  border-bottom: solid;
  color: black;
  width: 60%;
  left: 15%;
 }

 .slideshowIcons span{ 
	height: 38px;
	width: 38px;
	color: aliceblue;
	font-size: 1.9rem;
	margin: 0 1px;
	cursor: pointer;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
    
}



/*table tr:first-child th:first-child {
  border-top-left-radius: 0.5rem;
}
table tr:first-child th:last-child {
  border-top-right-radius: 0.5rem;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}*/

@media (max-width: 768px) {

        .main{
          margin-top: 0%;
                   
          
        }
        .container {
          width: 100%; /* Make sure content takes the full width */
         
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, 20px);
        
        grid-template-areas: 
        
        "header"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "footer  "
        
        }
       .container .header{
        position: relative;
        z-index: 2;
        height: 20%;
        overflow: visible;
        /*background-color: black;*/
       }
       .container .main{
        position: relative;
        display: grid;
       
       }
     
        .container .header .nav .menu{
          list-style: none;
          max-height: 300px;
        
          
        }
        header .icons span{
          position: relative;
          left: 20%;
          cursor: default;
        }
      
        
        .menu{
         position: relative;
          display: grid;
          row-gap: 18%;
          top: 10%;
          left: 5%;
          
        
  
        }
     
        .menu  .home{
          grid-column: 2/3;
          grid-row: 1/2;
          font-size: 150%;
          
        }
        .menu  .events{ 
        
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 150%;
        
        }
        .menu  .langos{
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 150%;
        
        }
      
        .menu  .uns {
          position: relative;
          grid-column: 2/3;
          grid-row: 4/5;
          font-size: 150%;
          
        }
         .menu .news{
          grid-column: 2/3;
          grid-row: 5/6;
          font-size: 150%;
        }
        .menu  .kontakt{
          grid-column: 2/3;
          grid-row: 6/7;
          font-size: 150%;
        }
        .menu  .logo{
          grid-column: 2/3;
         display: none;
        }
     

        /* Nav menu */
        .side-menu {
          display: none;
          
        } 
      .nav{
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
        max-height: 0;
        transition: max-height .4s ease-out;
        z-index: 2;
     

      }
      .region-select{
        position: relative;
        top: 10%;
        left: 10%;
 
      }
      
      
      
      .regionOptions {
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        color: #ffeb3b;
        top: 200%;
        
        
      }
   
      /* Menu Icon */
      .hamb{ 
        position: relative;
        cursor: default;
        
        padding: 40px 20px; 
      }
      /* Style label tag */

      .hamb-line {
        background: white;
        display: block;
        height: 2px;
        position: relative;
        width: 24px; 
        z-index: 3; /* Set z-index to keep the icon at the top position */

      }
      /* Style span tag */

      .hamb-line::before,
      .hamb-line::after{
          background: white;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
      }
      .hamb-line::before{
          top: 5px;
      }
      .hamb-line::after{
          top: -5px;
      }

      /* Toggle menu icon */
      .side-menu:checked ~ nav{
        max-height: 100%;
      }
      .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
      }
      .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
      }
      .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
      }

      body:has(.side-menu:checked) {
      overflow: hidden;
      }
 
  .circle{
    position: relative;
    transform: translate(px, 3px);
  }
        

      .calendar{
        position: relative;
        top: -20%;
        max-width: 100%;
        z-index: 1;
        

      }
      .calendar header{
       
        padding: 10px 20px 10px;
      }
      .calendar header .icons span:hover{
        background: #F0E801;
        
      }
      .calendar .days li{
        cursor:default;
      }
      .calendar .days li::before {
        height: 30px;
        width: 30px;
      }
      .days li:hover::before{
        background-color: transparent; /* Remove hover effect */
        
      }
      .days li.active{
        color: #fff;
        }
    
      .span{
        grid-column: 1/2;
      }

    
      .slideEvents{
       position: absolute;
        max-width: 110%;
        max-height: 20%;
        cursor: default;
        font-size: 120%;
       }
    
       .slideEventcontainer {
       
        left: 15%;
        top: 20%;
        width: 50%;
        z-index: 1; 
          
       }
       .slideshow{
        position: absolute;
        grid-column: 1/2;
       left: 7%;
       height: 21%;
       width: 85%;
       top: 30%;
       z-index: 1;
       
       }
       .slideshowHeadline
        {
          position: relative;
          left: 6%;
          font-size: 200%;
          z-index: 1;
          top: 1%;
         
        }
       
       .slideshowIcons{
        position: relative;
        z-index: 1;
        top:-10%;
       font-size: 10%;
       left: 20%;
       
        
       }
       .slideshowIcons span{
         border-radius: 50%;
       }
     
        #slideNext{
        position: relative;
        left:55%;
        

       }
       #slidePrev{
        position: relative;
        left: 60%;
       }
       #numberOfSlide{
        position: relative;
        left: 58%;
        font-size: 1.45rem;
        top:-4px
        
       }
      .logoMobil{
        display: block;
        position: relative;
        width:  50%;
        z-index: 3;
        top: -130%;
        left: 30%;
       }
       .dropdown {
        position: relative;
        grid-column: 1/2;
        left: 52%;
        top: -10%;
        z-index: 1;
        display: block;
        
        
       }      
       .dropdown-toggle{
        font-size: 150%;
        position: relative;
        right: 200%;
       
        
        
       }
       .dropdown-menu{
        width: 340%;
        text-align: center;
        position: absolute;
        top: -50%;
        display: none;
       left: -180%;
      
        

       }
       .dropdown-menu span{
        position: relative;
        font-size: 100%;
        line-height: 0.1em;
        
        
       
        
       }
       .line-break {
        margin-bottom: 2%;
       }

    

 
      
       
  }


  @media (min-width: 768px) and (max-width: 1023px) {

    .container {
    background-color:blueviolet;
    
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    
    "header header header"
    "header header header"
    "header header header"
    
    "main main main"
    "main main main"
    "main main main"
    
    "footer footer footer"
     "footer footer footer"
      "footer footer footer"
    
    }
}





























































































































































































































































































































































































































