/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI',Arial, sans-serif;
}

/* Body */
body {
  background-color: #E6F0FF;
  color: #333;
  min-height: 100vh;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 2rem;
  background-color: #EDF5E1;
  height: 130px;
}
.header.en{
  background-color: #2C3E46;
}
.main {
  background-color: #F5F5F5;
  display: grid;
  grid-template-columns: 1fr;   /* nur EINE Spalte auf Mobil */
  grid-template-rows: auto auto auto auto auto; 
  gap: 5rem;
  min-height: auto;
  align-content:start;
  padding-top: 3rem;  
  color: #141414;
  gap: 5rem;
  justify-items: center; /* horizontal zentrieren */
  padding: 2em;

}
.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  
}
p {
  width: 100%;
}

.side-menu {
 display: none;
 } 
.nav {
  display: none;
  
}

.side-menu:checked ~ .nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  /* ganze Breite */
  height: 100vh; /* ganze Höhe */
  background: rgba(237, 245, 225, 1); /* leicht transparent für Overlay-Effekt */
  z-index: 4;
  padding-top: 4rem; /* Abstand von oben für Hamburger-Icon etc. */
}

    .nav li a{
      text-decoration:none;
      color: rgba(10,99,157);
      
    }
    .nav.de li a{
    color: #0000008f;
    }
  
     .menu {
           
            display: grid;
            gap: 3rem; /* Use rem for better scalability */
            text-align: center;
           
            font-size: 150%;
             padding: 0;
            margin: 0;
            list-style: none;
          
          }

  /* Menu Icon */
      .hamb{ 
        position: relative;
       
        cursor: default;
        padding: 20px 5px; 
        z-index: 5; /* Set z-index to keep the icon at the top position */
        
      }
      /* Style label tag */

      .hamb-line {
     
        background: black;
        display: block;
        height: 1px;
        position: relative;
        width: 24px; 
      

      }
      /* Style span tag */

      .hamb-line::before,
      .hamb-line::after{
         background: black;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          /*transition: all .2s ease-out;*/
          width: 100%;
      }
      .hamb-line::before{
          top: 5px;
      }
      .hamb-line::after{
          top: -5px;
      }

      /* Toggle menu icon */
      .side-menu:checked ~ nav{
        display: block;
        
      }
      .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
      }
      .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
      }
      .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
      }

      body:has(.side-menu:checked) {
      overflow: hidden;
      }
      /* Hide logoMobil when side-menu is checked */
        .side-menu:checked ~ .logoDiv {
          display: none;
        }

.logoAndMenu{
display: flex;
flex-direction: row-reverse;
gap: 5em;
grid-column: 1;
grid-row: 1;
 justify-self: start;
}
 .logoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  grid-area: logo;
  justify-self: center;
  width: fit-content; /* wichtig */
  
 }  

 .logoAndNombre{
  display: flex;
  gap: 10px;

 }     
.logo{
width: 80px;
}
.nombre{
  width: 30px;
}

.lang-picker{
  grid-row: 1;
  grid-column: 2;
  justify-self: end; 
  width: 70px;
  margin-top: -40px;
}




.lang-btn{
  width: 140px;
  display:inline-flex;
  gap:2px;align-items:center;
  padding:2px 10px;border-radius:10px;
  background:rgba(255,255,255,0.02);
  border: none;
  cursor:pointer;
   outline: none;
}
.lang-btn span{
  color:rgba(10,99,157);
 
}
.lang-btn .currentName{
font-size:  10px;
}



.flag{width:20px;display:inline-block}
.chev{width:14px;height:14px;opacity:0.8;color: #E6F0FF;}

.langDropdown{position:absolute;
  right:0;margin-top:15px;
  min-width:120px;
  background-color:#141414;
  border-radius:12px;
  padding:8px;
  border:1px 
  solid rgba(255,255,255,0.03);
  box-shadow:0 8px 30px rgba(2,6,23,0.6);
  display:none}



.langDropdown.show{display:block}
.option,
.optionItem{display:flex;gap:10px;align-items:center;padding:8px;border-radius:8px;cursor:pointer}
.option:hover,
.optionItem{background:rgba(255,255,255,0.02)}
.option.active,
.optionItem.option.active{background:linear-gradient(90deg, rgba(59,130,246,0.12), rgba(99,102,241,0.08));border:1px solid rgba(59,130,246,0.12)}

.option .name,
.optionItem .namePa,
.optionItem .nameDoc{
  position: relative; 
  font-weight:600;
   z-index: 1;
  }

.option .meta{font-size:12px;color:var(--muted)}

.main .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  
}
.indexFisio{
  width: 100px;
}

.hServicio{
color:  rgba(111, 185, 10);
}

.hBienvenidos{
  color: white;
   font-size: 3rem;
}
.sample{
  width: 1000px;
}
.hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(72, 68, 68, 0.4);
  z-index: 1;
}



.spine-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
    position: relative;
    width: 100%;
    padding: 2em;
 
    
}

.spine{
  width: 80px;
  margin: auto;
}
/* Menü Punkte */

.toggle {
  position: relative;
  background: white;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 100px;
  left: 84px;
  
}
.toggle.left,
.toggle.right{
  width: 100px;
}
.toggle.right{
  left: -70px;

}

.toggle-header {
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.7em;
  background: #e9f2f7;
  transition: 0.3s;
}

.toggle-header:hover {
  background: #d7e9f4;
}

.toggle-content {
  max-height: 0;
  overflow: hidden;
  font-size: 0.7em;
  transition: max-height 0.4s ease;
  padding: 0 20px;
}

.toggle-content ul {
  padding: 15px 0;
  margin: 0;
  list-style: none;
}

.toggle-content li {
  margin-bottom: 8px;
}
.menu-item {
    position: absolute;
    color: #141414;
    padding: 8px 14px;
    width: 150px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.menu-item.right {
    left: 250px;
    top: 240px;
}
.menu-item.left{
   right: 250px;
   top: 70px;
}
.menu-item.salud{
  top: 392px;
  right: 245px;
}

.menu-item::after {
    content: "";
    position: absolute;
    top: 35px;
    width: 20px;
    height: 2px;
    background: #7ace5b;
}
.menu-item.left::after {
    right: -80px;
}

.menu-item.right::after {
    left: -80px;
}

.menu-item.salud::after {
  top: 50px;
    left: 210px;
}




/* Footer */
.footer{
   background-color: #EDF5E1;
  text-align: center;
  padding: 1rem;
  color: #141414;
  
}
footer.en{
 background-color: #F3C7D1;
}

@media (min-width: 676px) {
  .main .buttons {
    flex-direction: row;
    gap: 2rem;
     
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

 /* .header {
   display: grid;
  grid-template-columns: auto ;
  text-align: left;
  padding: 2rem;
  grid-template-columns: auto 1fr auto auto;
  }*/

  .header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "hamb lang"
    "logo logo";

  align-items: center;
  padding: 1rem;
  background-color: #EDF5E1;
  height: 200px;
}
    .nav{
     
      display: grid;
      grid-row: 2;
      width: auto;
      place-items: center;
      inset: 0; /* shorthand for top, right, bottom, left: 0 */
      transition: max-height .4s ease-out;
      z-index: 4;
      padding: 0;
    }

.menu{
      display: flex;
  flex-direction: row;
}
  .main {
  background-color: #F5F5F5;
  display: grid;
  padding-top: 3rem;  
  color: #141414;
  gap: 5rem !important;
}
.mainDosCol{
   grid-template-columns: 1fr 1fr;  
   grid-template-rows: auto auto auto; 

}

  .main .buttons {
    flex-direction: row;
    gap: 2rem;
  }

  .main button {
    width: 180px;
   
  }
  .hamb, .side-menu {   
    display: none;  
  } 
  .side-menu { 
  opacity: 0;
  width: 0;
  height: 0;
 } 
.lang-picker{
  grid-column: 3;
  width: 115px;
  margin-top: 0;
}
.lang-btn .currentName{
font-size:  12px;
}

.menuAndLogo{
display: flex;
gap: 50px;

}
  .logoContainer{
  grid-column: 1;
 }
  .logoAndNombre{
  margin-top: 0;
 }
 .logoAndMenu{
  flex-direction: row;
  gap: 4em;
 }
 .logo{
width: 140px;
}
.nombre{
  width: 55px;
}

.spine-menu {

    width: 600px;  
}
.spine{
  width: 100px;
}

.menu-item {
    position: absolute;
    color: #141414;
    padding: 8px 14px;
    top: 100px;
    width: 150px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-item.right {
    left: 450px;
}
.menu-item.left{
   right: 450px;
}


.menu-item.salud{
  top: 300px;
  right: 450px;
}

.menu-item::after {
    content: "";
    position: absolute;
    top: 35px;
    width: 40px;
    height: 2px;
    background: #7ace5b;
}
.menu-item.left::after {
  top: 50px;
    right: -115px;
}

.menu-item.right::after {
    left: -110px;
}

.menu-item.salud::after {
  top: 50px;
   left: 208px;
}


}