@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300; /* Light = 300 */
  font-display: swap; /* sorgt dafür, dass Text sofort sichtbar ist */
  src: url('../Outfit/static/Outfit-Light.woff') format('woff');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Body */
body {
   font-family: 'Outfit', sans-serif;
  font-weight: 300; /* Light */
  background-color: #E6F0FF;
  color: #333;
  min-height: 100vh;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "hamb lang"
    "logo logo";
   padding: 0.5em 0;
  align-items: center;
  background-color: black;

}


.main {
  background-color: #F5F5F5;
  display: grid;
  grid-template-columns: 1fr;   /* nur EINE Spalte auf Mobil */
  grid-template-rows: auto auto auto auto auto; 
  gap: 5rem;
  min-height: auto;
  align-content:start;

  color: #141414;
  gap: 5rem;
  justify-items: center; /* horizontal zentrieren */
 
}

.wabe,
.sobre,
.productos,
.contacto,
.curso,
.index
{
 position: relative;
  width: 250px;
  max-width: 400px;
  height: auto;
  grid-area: hamb;

}
.svgsobre,
.svgproductos,
.svgcontacto,
.svgcurso{
  display: none;
}


.side-menu {
 display: none;
 } 
   .nav{
   
  
    display: none;
  
    }
    .nav li a{
      text-decoration:none;
      color: rgba(238,184,52);
      
    }
    .nav.de li a{ 
    color: #0000008f;
    }
  
     .menu {
           
            display: grid;
            gap: 3rem; /* Use rem for better scalability */
            text-align: center;
           
            font-size: 150%;
             padding: 0;
            margin: 0;
            list-style: none;
          
          }

    
    
  /* Menu Icon */
      .hamb{ 
        
        position: relative;
        grid-area: hamb;
        justify-self: start;
        cursor: default;
        padding: 40px 20px; 
        z-index: 5; /* Set z-index to keep the icon at the top position */
        
      }
      /* Style label tag */

      .hamb-line {
     
        background: rgb(238, 184, 52);
        display: block;
        height: 2px;
        position: relative;
        width: 24px; 
      

      }
      /* Style span tag */

      .hamb-line::before,
      .hamb-line::after{
          background: rgb(238, 184, 52);
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          /*transition: all .2s ease-out;*/
          width: 100%;
      }
      .hamb-line::before{
          top: 5px;
      }
      .hamb-line::after{
          top: -5px;
      }

      /* Toggle menu icon */
      .side-menu:checked ~ nav{
        display: block;
        max-height: 100vh;
      }
      .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
      }
      .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
      }
      .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
      }

      body:has(.side-menu:checked) {
      overflow: hidden;
      }
      /* Hide logoMobil when side-menu is checked */
        .side-menu:checked ~ .logoDiv {
          display: none;
        }

.lang-picker {
position: relative;
  grid-area: lang;
   justify-self: end;   
  align-self: start;   
}

.selected-lang {
  font-size: 20px;
}

.langDropdown {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
}

.langDropdown .option {
  padding: 5px;
  cursor: pointer;
}

.langDropdown .option:hover {
  background: #eee;
}

/* sichtbar wenn aktiv */
.langDropdown.active {
  display: block;
}


.main .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  
}
.headlineIndex{
  text-align: left;
}
.allProductos{
  display: grid;
  grid-template-columns: 1fr
  ;
padding: 2em;
}
.headlineProdAndHoneyCup{
display: flex;
flex-direction: column;
align-items: center;
gap: 3em;
}
.svgHoneyCup{
  width: 200px;
  margin-top: 10px;
}

/*index.html*/

.buzzing{
font-size: small;
  text-align: center;
  padding: 0.5em;
}
.cursoContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;

}
.calendarContainer{
 
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-size: 15px;
  gap: 2em;
  padding: 1em;
}

.calendar{

  max-width: 350px;
  background:white;
  overflow:hidden; overflow:hidden; 
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
  border-radius:12px;
  
}
.calendar header
{
  position: relative;
   padding:15px 20px;
  display: grid;
  grid-template-columns: 1fr;
  background: #e7e6e6;
  border-radius: 10px 10px 0 0;   
  color: #1f1f1f;

}
/* gefüllter „Rand“ unten */
.calendar header::after
 {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color:rgba(238,184,52);
}
.calendar .calendar-body
 {
  padding: 16px 20px 25px;
  background-color: #f4f1f1;
}
.calendar header p

{
  font-size: 120%;
  font-weight: bold;
}
.calendar header .icons
{
grid-column: 3/4;

}
.calendar ul
{
	display:flex;
	list-style: none;
	flex-wrap: wrap;
	text-align: center;
  margin-bottom: 0;

}

.calendar .weeks li,
.calendarDosCol .weeks li {
	font-weight: 500;

}
.calendar .days li,
.calendarDosCol
 .days li{
	z-index: 1;
	margin-top: 25px;
  
}

.days li.circle{
  color: #F0FFFF;
  }
  .days li.circleInactive{
    color:  #5c5b5b;
    
    }
.days li.active{
color: #141414;
}

.days li.active::before{
	/*background: #e94417;*/
  border: 3px solid;
  border-radius: 50%;
  border-color: rgba(238,184,52);
	
}
.calendar ul li,
.calendarDosCol ul li{
	position: relative;
	width: calc(100% /7);
}
.calendar .days li::before,
.calendarDosCol .days li::before{
	position: absolute;
	content: "";
	height: 40px;
	width: 40px;
	top: 50%;
	left: 50%;
	z-index:-1;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}
.graduationHat{
  position: relative;
width: 60px;
top: 10px;
}
.indexContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

h2 {
    padding: 0.5em;
  text-align: center;
  color: #42413fff;
  font-size:large;
}
.indexContainer h2{
  padding: 0.5em;
  text-align: center;
  color: #42413fff;
  font-size:large;
}

.hero {
  position: relative;
  overflow: hidden;
 
  max-height: 250px;
}



/* Container für die Bilder */
.hero img {

   width: 100%;
  object-fit: cover;
position: relative;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2em;
  z-index: 2;
}
.hero-beispiel picture {
  display: block;
  max-width: 500px;
}

.hero-beispiel picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* Text */
.hero-text {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 3px 8px rgba(0,0,0,0.8),
               0 6px 20px rgba(0,0,0,0.7);
  color: white;
  text-align: center;
  z-index: 3;

}
.hero-text h1,
h1 {
     font-size: clamp(20px, 3vw, 34px);
  
}

.hero-text h2 {
  font-size: clamp(18px, 3.2vw, 36px);
}

/* optionales Overlay */
.hero::after {
  content: "";
 
  inset: 0;
  background: rgba(0,0,0,0.35);
  z-index: 1;
}
.produkt-link{
  display:block;
  position:relative;
  text-decoration:none;
  color:white;
}

.beispiel1{
  width: 300px;
}



/* Menü Punkte */
.menu-item {
    position: absolute;
    color: #141414;
    padding: 8px 14px;
   
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.menu-item.right {
    left: 80%;
}
.menu-item.left{
  left: -10%;
}

.menu-item::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 60px;
    height: 2px;
    background: #7ace5b;
}
.menu-item.left::after {
    right: -68px;
}

.menu-item.right::after {
    left: -60px;
}




/* Footer */
.footer{
  background-color: #141414;
  text-align: center;
  padding: 1rem;
  color: #fff;
  
}
footer.en{
 background-color: #F3C7D1;
}

@media (min-width: 676px) {
  .main .buttons {
    flex-direction: row;
    gap: 2rem;
     
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header {
    
  display: grid;
  grid-template-columns: auto ;
  text-align: left;
  grid-template-columns: auto 1fr auto auto;
  background-color: black;
  }
    .nav{
      overflow:inherit;
      display: grid;
      grid-row: 2;
      width: auto;
      place-items: center;
      inset: 0; /* shorthand for top, right, bottom, left: 0 */
      transition: max-height .4s ease-out;
      z-index: 4;
    }

.menu{
      display: flex;
  flex-direction: row;
}
  .main {
  background-color: #F5F5F5;
  display: grid;
  padding-top: 3rem;  
  color: #141414;
  gap: 5rem !important;
}
.mainDosCol{
   grid-template-columns: 1fr 1fr;  
   grid-template-rows: auto auto auto; 

}

  .main .buttons {
    flex-direction: row;
    gap: 2rem;
  }

  .main button {
    width: 180px;
   
  }
  .hamb, .side-menu {   
    display: none;  
  } 
  .side-menu { 
  opacity: 0;
  width: 0;
  height: 0;
 } 
.lang-picker{
  grid-column: 3;
  position: relative;
  
}
  .logoContainer{
    display: flex;
 flex-direction: row;
 grid-area: hamb;
 
 margin-top: 0;
 margin-left: 0;
 
 }
 .calendarContainer{
  flex-direction: row-reverse;
  gap: 3em;
 }
.wabe{
  max-width: 300px;
}

.svgHoneyCup{
  width: 300px;
  margin-top: 10px;
}

.hero{
  max-height: 800px;
  width: 900px;
}
.hero-text {

  top: 350px; 

}
.hero-text h1 {
  font-size: 2.0vw;
}

.hero-text h2 {
  font-size: 1vw;
}
}